<main>
  <h1>Online ASN1 DER message parser</h1>
  <form [formGroup]="f">
    <label class="der">
      <div>message content in DER raw code</div>
      <textarea name="der" formControlName="der"></textarea>
    </label>
    <label class="json">
      <div>message content in parsed JSON</div>
      <textarea name="json" formControlName="json"></textarea>
    </label>
    <label class="asn1">
      <div>ASN1 module content</div>
      <textarea name="asn1" formControlName="asn1"></textarea>
    </label>
    <nav class="nav">
      <button type="button" (click)="parse()">
        Parse <fa-icon [icon]="faChevronRight"></fa-icon>
      </button>
      <button type="button" (click)="generate()">
        <fa-icon [icon]="faChevronLeft"></fa-icon> Generate
      </button>
      <button
        type="button"
        title="Validate the message against the ASN1 module content"
        (click)="validate()"
      >
        Validate
      </button>
      <label>
        <div>Message type</div>
        <input type="text" formControlName="type" />
      </label>
    </nav>
  </form>
</main>
