<main>
  <h1>Online ASN1 DER message parser</h1>
  <form>
    <label class="der">
      <div>message content in DER raw code</div>
      <textarea name="der"></textarea>
    </label>
    <label class="json">
      <div>message content in parsed JSON</div>
      <textarea name="json"></textarea>
    </label>
    <label class="asn1">
      <div>ASN1 module content</div>
      <textarea name="asn1"></textarea>
    </label>
    <nav class="nav">
      <button>Parse &gt;</button>
      <button>&lt; Generate</button>
      <button>Validate</button>
    </nav>
  </form>
</main>
