<main>
  <h1>Online ASN1 DER message parser</h1>
  <form [formGroup]="f">
    <label class="der">
      <div>message content in DER raw code</div>
      <textarea name="der" formControlName="der"></textarea>
    </label>
    <label class="json">
      <div>message content in parsed JSON</div>
      <textarea name="json"></textarea>
    </label>
    <label class="asn1">
      <div>ASN1 module content</div>
      <textarea name="asn1"></textarea>
    </label>
    <nav class="nav">
      <button type="button">Parse &gt;</button>
      <button type="button">&lt; Generate</button>
      <button
        type="button"
        title="Validate the message against the ASN1 module content"
      >
        Validate
      </button>
    </nav>
  </form>
</main>
