<main>
  <h1>Legal</h1>
  <h2>ASN.1</h2>
  <p>
    ASN.1 (Abstract Syntax Notation version 1) is a language designed for
    defining messages inside protocols. It is officially specified by the
    <a href="https://www.itu.int/">ITU</a> organization. See the
    <a href="https://en.wikipedia.org/wiki/ASN.1">Wikipedia article</a> for an
    introduction.
  </p>
  <p>You can also find the official specifications:</p>
  <ul>
    <li>
      <a href="https://www.itu.int/rec/T-REC-X.680">
        X.680 - ASN.1 specification
      </a>
    </li>
    <li>
      <a href="https://www.itu.int/rec/T-REC-X.690/">
        X.690 - BER/CER/DER specification
      </a>
    </li>
  </ul>

  <h2>Data processing</h2>
  <p>
    All data parsing on this website is done on the visitor browser. No remote
    parsing. The website do not save data elsewhere.
  </p>

  <h2>Github</h2>
  The entire content of this site can be found on its
  <a href="https://github.com/jlguenego/asn1-web">Github repository</a>. It is
  free and open source. You will see that no advertisement is done, and no data
  is taken from the visitors.

  <h2>Site Author</h2>
  <p>
    Site made by Jean-Louis GUENEGO,
    <a href="https://jlg-consulting.com">JLG Consulting</a> with only open
    source code from <a href="https://www.npmjs.com/">NPM</a>.
  </p>
</main>
