<main>
  <h1>Legal</h1>
  <h2>ASN.1</h2>
  ASN.1 (Abstract Syntax Notation version 1) is a language designed for defining
  messages inside protocols. It is officially specified by
  <a href="https://www.itu.int/">ITU</a>. See the
  <a href="https://en.wikipedia.org/wiki/ASN.1">Wikipedia article</a>.
  <h2>Site Author</h2>
  <p>
    Site made by Jean-Louis GUENEGO,
    <a href="https://jlg-consulting.com">JLG Consulting</a> with only open
    source code from <a href="https://www.npmjs.com/">NPM</a>.
  </p>
</main>
