/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  padding: 0.5em;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}
